<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ perfma.com Inc.
  ~ Copyright (c) 2017 All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.perfxq.unit.demo.dao.AppDao">

    <!--查询用户的所有菜单ID-->
    <select id="queryAppInfo" resultType="com.perfxq.unit.demo.entity.App">
        SELECT
        *
        FROM
        App app
        WHERE
        1 = 1
        AND app.id = #{id}
    </select>

    <delete id="removeAppInfo">
        DELETE FROM APP app WHERE app.id = #{id}
    </delete>

</mapper>